*{
    margin: 15;
    padding: 15;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    }
    body{
    margin: 30;
    padding: 30;
    background: url(img/image.jpg) no-repeat;
    background-position: cover ;
    }
    .box{
    width: 400px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    }
    .box-img{
    border-radius: 45%;
    width: 250px;
    height: 250px;
    }
    .box h2{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 20px;
    }
    .box h3{
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 20px; 
    }
    .box h4{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 10px ;
    }
    .box p{
    text-align: justify;
    }
    ul{
    margin: 0;
    padding: 0;
    }
    .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    }
    .box li a{
    color: rgb(197, 189, 189);
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    }
    .box li a:hover{
    color: grey;
    }
    